In [5]:
from openpyxl import load_workbook
from config import get_data_file_path
import pandas as pd

path = get_data_file_path("Opakovanie na TEST.xlsx")
doc = load_workbook(path, data_only=True)
sheet = doc["Kanály"]
data = [[cell.value for cell in row] for row in sheet["A2:F88"]]
frame = pd.DataFrame(data)


frame.sort_values(by=[1], ascending=True, inplace=True)
for i, (index, row) in enumerate(frame.iterrows()):
	frame.loc[index, "anum"] = i + 1

frame.sort_index(inplace=True, axis=0)

frame["adsday"] = frame[5]*24
avgadsday = frame["adsday"].mean() / 60
ads = sheet["G89"].value
adscolor = sheet["G89"].fill.start_color.index
print("Average ads per day:", f'{avgadsday} h')
frame

Average ads per day: 6.933333333333334 h

       0               1   2     3        4   5  anum  adsday
0   4015         Megamax  HU  None     Kids  11  45.0     264
1   4016          NatGeo  HU  None     Doku  16  49.0     384
2   4021             AMC  CZ  None     Film  21   1.0     504
3   4022  Travel Channel  HU  None     Doku  18  79.0     432
4   4023       Sláger TV  HU  None    Music  15  63.0     360
..   ...             ...  ..   ...      ...  ..   ...     ...
82  4436      Prima Plus  CZ  None  General  22  55.0     528
83  4438         Doma HD  SK  None  General  13  17.0     312
84  4439        Jednotka  SK  None  General  11  32.0     264
85  4440             Wau  SK  None     Film  21  82.0     504
86  4443   Prima ZOOM HD  CZ  None     Film  25  56.0     600

[87 rows x 8 columns]